@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  max-width: 100wh;
  width: 100vw;

  margin: auto;
  padding: 2rem;
  /* text-align: center; */
  background-color: #ffffffe8;
}
body {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}
/* .App {
  display: flex;
  flex-direction: colum;
  width: 100%;
  background-color: white;
  column-gap: 20px;
} */

.main-content {
  display: flex;
  flex-direction: column;
}
.hero {
  display: flex;
  justify-content: space-between;

  height: 70px;
  background-color: black;
}
.App-header {
  text-align: center;
  margin-left: 30px;
  padding-top: 15px;
  color: white;
}
.icon-cart {
  color: white;
  font-size: 4rem;
  padding-top: 15px;
  margin-left: 1100px;
}
.total-price {
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  margin-right: 100px;
  padding-top: 2rem;
}

.pizza-page {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 70px;
}

.pizz-display {
  background-color: white;
  width: 250px;
  height: 360px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.pizz-display img {
  width: 250px;
  height: 250px;
}
.pizza-names {
  font-weight: bold;
  padding: 3px;
  text-align: center;
}
.piza-price {
  font-weight: bold;
  text-align: right;
  padding: 5px;
}
.btn-cart {
  margin-left: 200px;
  padding: 10px;
  font-weight: bold;
  margin-left: 0px;
  width: 250px;
  background-color: white;
  cursor: pointer;
}
.btn {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
}

.next-btn button {
  box-shadow: 10px 10px 20x rgba(0, 0, 0, 0.226);
  padding: 10px;
  font-size: 1.3rem;
  background-color: rgb(2, 221, 255);
  border: none;
  margin-left: 1320px;
  margin-top: 20px;
  color: white;
  width: 300px;
  box-shadow: 10px 10px 10px rgba(4, 182, 242, 0.232);
  cursor: pointer;
}
.customer-page {
  background-color: ble;
  height: 100%;
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
}
.customer-page form input {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  padding: 10px;
  width: 300px;
}

form h2 {
  color: white;
  margin-top: 50px;
}

.shipping {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  width: 500px;
}
.shipping input[type="radio"] {
  margin-left: -100px;
  height: 25px;
  align-items: center;
}

.shipping label {
  color: black;
  text-align: center;
  font-size: 1.2rem;
  margin-left: 20px;
  margin-left: -30px;
}
.checkout {
  display: flex;
  flex-direction: column;
}
.checkout h4 {
  margin-left: 1200px;
  margin-top: 20px;
  font-size: 1.2rem;
}
.checkout button {
  box-shadow: 10px 10px 20x rgba(0, 0, 0, 0.226);
  padding: 10px;
  font-size: 1.3rem;
  background-color: rgb(2, 221, 255);
  border: none;
  margin-left: 1100px;
  margin-top: 30px;
  color: white;
  width: 250px;
  box-shadow: 10px 10px 10px rgba(4, 182, 242, 0.232);
  cursor: pointer;
}

.checkout-content h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}
.checkout-items p {
  font-size: 1.5rem;
  padding: 3px;
}

.checkout-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.table-data {
  display: flex;
  flex-direction: row;
}

.table-data table {
  border-collapse: collapse;
  width: 1000px;
  margin: auto auto;
}

.table-data table thead tr {
  padding: 30px;
  border: 1px solid black;
  background-color: rgb(179, 179, 179);
}

.table-data table th {
  border: 1px solid black;
  padding: 10px;
}

.table-data table tbody tr {
  padding: 20px;
  border: 1px solid black;
  text-align: left;
}
table th {
  text-align: left;
}

.table-data table td {
  border: 1px solid black;
  text-align: left;
  padding: 10px;
}
table h4 {
  margin-top: 20px;
  margin-left: 1300px;
}

.order-table {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.order-table table {
  border-collapse: collapse;
  width: 1000px;
  margin: auto auto;
}
.order-table table thead tr {
  padding: 30px;
  border: 1px solid black;
  background-color: rgb(179, 179, 179);
}

.order-table table th {
  border: 1px solid black;
  padding: 10px;
}

.order-table table tbody tr {
  padding: 20px;
  border: 1px solid black;
  text-align: left;
}
table th {
  text-align: left;
}

.order-table table td {
  border: 1px solid black;
  text-align: left;
  padding: 10px;
}
